/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}
p {
  line-height: 2rem;
  font-size: 12px;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 700px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }
@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
/*hover effects*/
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  background-color: rgba(0,0,0,0.5);
  -webkit-transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
  transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
  transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  background: rgba(0,0,0,0.6);
  -webkit-transform: translatey(-100px);
  -ms-transform: translatey(-100px);
  transform: translatey(-100px);
  -webkit-transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
  transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
  padding: 10px;
}

.hovereffect a.info {
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  margin: 50px 0 0;
  padding: 7px 14px;
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect:hover img {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-transform: translatey(0);
  -webkit-transform: translatey(0);
  transform: translatey(0);
}

.hovereffect:hover a.info {
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
}
/*hover effects end*/
.proj-div{
  height: 220px;
  width: 330px;
  margin-bottom: 10px;
}
.proj {
  height: 220px;
  width:100%;
}
.section {
  padding: 150px 0px 150px 0px;
}
.skills {
  /*border: 1px solid black;*/
  height: 300px;
}
.icon {
  max-height: 5em;
  width: 5em;
  display: inline-block;
}
/*#email-icon {
  width: 80px;
  height: 90px;
}
#resume-icon {
  width: 90px;
  height: 80px;
}*/
/*.contact-icons-div {
  height: 70px;
  width: 70px;
}*/
.contact-icons {
/*  height: 100%;
  width: 100%;
  overflow: initial;*/
  vertical-align: middle;
}
.contact-div {
  padding: 100px;
  /*min-height:700px;*/
}

@font-face {
  font-family: gravity-light;
  src: url('../font/gravity/Gravity-Light.otf');
}
@font-face {
  font-family: gravity-light-i;
  src: url('../font/gravity/Gravity-LightItalic.otf');
}
#logo {
  font-family: serif;
  font-size: 50px;
  margin-bottom: 30px;
  color: #009688;
}
h1 {
  font-family: "Playfair Display";
  font-size: 100px;
  font-weight: 900;
  width: 50%;
}
h2 {
  font-family: "Playfair Display";
  font-size: 40px;
  margin-bottom: 30px;
}
h3 {
  font-family: "Playfair Display";
  font-size: 20px;
  margin-bottom: 30px;
}

h4 {
  font-family: "Playfair Display";
  font-size: 20px;
  margin-bottom: 30px;
}
h5 {
  font-family: "Playfair Display";
  font-size: 40px;
  margin-bottom: 30px;
}
h6 {
  font-family: gravity-light-i;
  font-size:30px;
  color: #009688;
}
ul {
  font-family: gravity-light;
}
p {
  font-family: gravity-light;
  font-size: 14px;
}
#contact-me {
  color: #009688;
}
.contact-row {
  margin-top: 40px;
}